### importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import seaborn as sns
from sklearn.model_selection import cross_val_score

### Loading data

In [2]:
df = pd.read_csv("Advertising.csv")

### Data cleaning

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df_dup = df.drop('Unnamed: 0',axis = 1)
df_dup

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [5]:
df_dup.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

### splitting of data for training and testing

In [6]:
x_train,x_test,y_train,y_test = train_test_split(df_dup[['TV','Radio','Newspaper']],df_dup.Sales,test_size = 0.25)

### Machine Learning Model(Linear Regression)

In [7]:
model = RandomForestRegressor()
model.fit(x_train,y_train)

RandomForestRegressor()

In [8]:
model.predict(x_test)

array([16.04 , 22.423,  7.728, 14.756, 11.279, 16.606, 16.055, 18.266,
        6.572, 11.16 , 15.641,  5.379, 15.397, 13.393,  8.608, 12.393,
        8.483, 18.289, 10.054, 21.383,  9.117,  9.912, 22.167, 15.845,
        6.293, 25.435, 10.673, 21.332, 18.149, 11.841, 11.953,  9.845,
        6.694, 10.892, 12.646, 11.107, 11.789, 17.302, 20.847, 11.887,
       19.191, 15.039, 13.345,  7.389, 16.574, 14.823, 10.995, 21.129,
       12.093, 18.636])

In [9]:
y_test

168    17.1
101    23.8
106     7.2
77     14.2
144    11.4
194    17.3
152    16.6
193    19.6
126     6.6
90     11.2
123    15.2
8       4.8
27     15.9
179    12.6
75      8.7
31     11.9
195     7.6
109    19.8
38     10.1
39     21.5
127     8.8
13      9.7
58     23.8
184    17.6
22      5.6
98     25.4
190    10.8
0      22.1
28     18.9
80     11.8
174    11.5
149    10.1
192     5.9
134    10.8
63     14.0
73     11.0
151    11.6
163    18.0
15     22.4
86     12.0
92     19.4
103    14.7
116    12.2
91      7.3
74     17.0
112    14.1
1      10.4
55     23.7
181    12.2
141    19.2
Name: Sales, dtype: float64

In [10]:
model.score(x_test,y_test)

0.9764129957326019