### importing libraries

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import seaborn as sns
from sklearn.model_selection import cross_val_score

### Loading data

In [2]:
df = pd.read_csv("Advertising.csv")

### Data cleaning

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df_dup = df.drop('Unnamed: 0',axis = 1)
df_dup

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [5]:
df_dup.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

### splitting of data for training and testing

In [38]:
x_train,x_test,y_train,y_test = train_test_split(df_dup[['TV','Radio','Newspaper']],df_dup.Sales,test_size = 0.25)

### Machine Learning Model(Linear Regression)

In [39]:
model = RandomForestRegressor()
model.fit(x_train,y_train)

RandomForestRegressor()

In [40]:
model.predict([[44.5,39.3,45.1]])

C:\Users\Kalyani_Reddy\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([10.861])

In [36]:
y_test

180    10.5
138     9.6
173    11.7
80     11.8
41     17.1
168    17.1
74     17.0
195     7.6
147    25.4
35     12.8
42     20.7
157    10.1
103    14.7
187    17.3
164    11.9
166     8.0
16     12.5
145    10.3
97     15.5
116    12.2
73     11.0
99     17.2
95     16.9
69     22.3
10      8.6
165    11.9
5       7.2
6      11.8
56      5.5
76      6.9
141    19.2
193    19.6
13      9.7
36     25.4
88     12.9
109    19.8
3      18.5
25     12.0
102    14.8
159    12.9
92     19.4
30     21.4
55     23.7
153    19.0
167    12.2
175    27.0
38     10.1
186    10.3
79     11.0
101    23.8
Name: Sales, dtype: float64

In [41]:
model.score(x_test,y_test)

0.9774213851791548